[Unit]
Description=Demo FastAPI Application
After=network.target

[Service]
User=anushka
Group=anushka
WorkingDirectory=/home/anushka/fastapi/src
Environment="PATH=/home/anushka/fastapi/venv/bin"
EnvironmentFile=/home/anushka/.env
ExecStart=/home/anushka/fastapi/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker sqlalchmy.main2:app --bind 0.0.0.0:8000
Restart=always

[Install]
WantedBy=multi-user.target